/*Classes Obrigatórias*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}

/*classes Auxiliares*/

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.w33 {
  width: 33.3%;
  float: left;
}

.w40 {
  width: 40%;
  float: left;
}

.w50 {
  width: 50%;
  float: left;
}

.w60 {
  width: 60%;
  float: left;
}

.w100 {
  width: 100%;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

/*Página Home*/

/*header*/

header {
  padding: 8px 0;
}

.logo {
  float: left;
}

.logo h2 {
  font-weight: normal;
  font-size: 23px;
}

.logo a {
  color: black;
  text-decoration: none;
}

nav.menu-mobile {
  display: none;
  float: right;
}

nav.menu-mobile h2 {
  cursor: pointer;
}

nav.menu-mobile ul {
  display: none;
  width: 100%;
  background: white;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 999;
  text-align: center;
}

nav.menu-mobile li {
  padding: 8px 0;
  border-bottom: 1px solid black;
}

nav.menu-mobile li.selected {
  background: rgb(225, 225, 225);
}

nav.menu-mobile a {
  display: block;
  color: black;
  text-decoration: none;
}

nav.menu-desktop {
  float: right;
}

nav.menu-desktop li.selected {
  font-weight: bold;
}

nav.menu-desktop ul {
  position: relative;
  top: 8px;
}

nav.menu-desktop li {
  padding: 0 10px;
  display: inline-block;
}

nav.menu-desktop a {
  color: black;
  text-decoration: none;
}

nav.menu-desktop a:hover {
  text-decoration: underline;
}

/*Section Main*/

section.main-bg {
  position: relative;
  width: 100%;
  padding: 100px 0 200px 0;
  background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1203/night-Beautiful_natural_landscape_wallpaper_1366x768.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.main-bg > .container {
  z-index: 2;
  position: relative;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

section.main-bg h2 {
  text-align: center;
  color: #52aaa7;
  font-size: 40px;
  font-weight: normal;
}

section.main-bg p {
  color: white;
  font-size: 17px;
  margin-top: 15px;
}

/*Section Experiências do Usuário*/

section.diferenciais {
  padding: 20px 0;
  text-align: center;
}

.line-text {
  position: relative;
  display: inline-block; /*para ocupar espaço somente do texto*/
  color: #52aaa7;
}

.line-text > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 3px;
  background: #52aaa7;
}

.line-text h2 {
  font-weight: normal;
  font-size: 27px;
}

.icones-diferenciais {
  margin-top: 25px;
}

.icon-single {
  float: left;
  width: 33.3%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.icon-single h2 {
  color: #87441e;
  font-size: 34px;
}

.icon-single p {
  color: #646464;
  font-weight: lighter;
  font-size: 16px;
}

/*Section Equipe, Sobre*/

section.equipe-sobre {
  padding: 30px 0;
  background: #e4e3e3;
}

section.equipe-sobre > .container {
  display: flex;
  flex-wrap: wrap;
}

.equipe-box {
  width: 50%;
}

.sobre-box {
  width: 50%;
}

.avatar-box {
  margin-top: 5%;
  position: relative;
}

.img-avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%; /*efeito da borda arrendondada*/
  background-size: cover;
  background-position: center;
}

.descricao-avatar {
  padding: 0 10px;
  width: calc(100% - 80px);
  display: inline-block;
}

.descricao-avatar h3 {
  color: rgb(30, 30, 30);
  font-weight: normal;
  font-style: italic;
  margin-bottom: 2%;
}

.descricao-avatar p {
  color: rgb(30, 30, 30);
  font-weight: lighter;
}

.avatar-box .saiba input[type="submit"] {
  background: #1b6c5b;
  margin: 40px 0;
  width: 200px;
  height: 47px;
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  border: 0;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

section.equipe-sobre .line-text p {
  color: black;
  font-size: 15px;
  margin-top: 10px;
}

/*Section Increva-se*/

section.inscricao {
  background: #52aaa7;
  padding: 20px 0;
}

h2.inscricao-texto {
  font-weight: normal;
  color: white;
}

.inscricao-form input[type="text"] {
  width: calc(90% - 120px);
  height: 40px;
  background: white;
  border: 1px solid #ccc;
  display: inline-block;
}

.inscricao-form input[type="submit"] {
  width: 120px;
  height: 40px;
  background: #1b6c5b;
  display: inline-block;
  border: 0;
  color: white;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
}

/*Sections Cards*/

section.cards {
  padding: 30px 0;
}

.card-single {
  width: 33.3%;
  float: left;
  padding: 50px;
}

.card-single img {
  width: 100%;
}

.card-single h3 {
  margin-top: 5px;
  font-size: 20px;
}

.card-single p {
  font-weight: lighter;
  font-size: 17px;
  margin: 5px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

/*Footers*/

footer.footer1 {
  background: #52aaa7;
  padding: 30px 0;
  color: white;
}

footer.footer1 .link {
  padding: 0 50px;
}

footer.footer1 h2 {
  font-weight: normal;
  font-size: 24px;
}

footer.footer1 p {
  margin-top: 8px;
  font-weight: lighter;
}

footer.footer1 a {
  display: block;
  color: white;
}

div.group-icons a {
  display: inline-block;
  margin: 15px 10px;
  font-size: 18px;
}

footer.footer2 {
  padding: 15px 0;
  background: #237a70;
  text-align: center;
  color: white;
}

/*Página Sobre*/

section.title-page {
  padding: 30px;
  width: 100%;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

section.title-page h2 {
  color: #44d4c5;
  font-size: 35px;
  font-weight: normal;
}

section.title-page p {
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
}

section.title-page > .container {
  position: relative;
  z-index: 101;
}

.overlay__title-page {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}

/*Sobre container da notícia*/

section.sobre__noticia {
  padding: 30px 0;
}

.sobre__single__noticia img {
  max-width: 100%;
  float: left;
  width: 50%;
}

.sobre__single__noticia p {
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  float: left;
  width: 50%;
}

.paragrafo__single__noticia {
  margin-top: 15px;
}

.paragrafo__single__noticia p {
  margin-top: 8px;
}

/*Efeito parallax página sobre*/

section.parallax {
  padding: 30px 0;
  width: 100%;
  min-height: 200px;
  background-image: url(./imgs/cartao_04.jpg);
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed; /*Parallax*/
  text-align: center;
}

section.parallax h2.chamada-parallax {
  border: 1px solid #44d4c5;
  padding: 5px 25px;
  color: #44d4c5;
  font-size: 18px;
  display: inline-block;
}

section.parallax p {
  margin-top: 10px;
  color: #fff;
}

/*Equipe página sobre*/

section.equipe {
  padding: 40px 0;
}

.equipe-circles {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.equipe-circle-single {
  padding: 0 20px;
  text-align: center;
  width: 33.3%;
}

.equipe-circle-single h3 {
  margin-top: 8px;
  font-size: 20px;
  font-weight: normal;
}

.equipe-circle-single p {
  font-weight: lighter;
}

.avatar-single {
  position: relative;
  width: 60%;
  padding-top: 60%; /*Referente a largura*/
  margin: 0 auto;
}

.avatar-single-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

section.sobre__final {
  background-color: rgb(230, 230, 230);
  border-top: 1px solid rbg(210, 210, 210);
  padding: 20px 0;
}

section.sobre__final p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: lighter;
}

.card-text {
  width: 80%;
  margin-top: 10px;
  position: relative;
}

.card-text img {
  max-width: 100%;
}

.card-text h3 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

/*Página Contato*/

section.contato {
  padding: 30px 0;
}

section.contato .w50,
section.contato .w100 {
  padding: 0 10px;
}

.formulario form {
  margin-top: 10px;
}

.formulario h2 {
  background: #dddddd;
  text-align: center;
  color: #acac9d;
  font-size: 17px;
  font-weight: normal;
  border-left: 5px solid #ccc;
  padding: 4px 0;
}

.formulario input[type="text"],
.formulario input[type="email"] {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding-left: 8px;
}

.formulario textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
  resize: vertical;
}

.tags-form {
  padding-left: 50px;
}

.tags-form h2 {
  font-weight: normal;
}

.tags-form p {
  font-weight: lighter;
}

.tags-form p.tag-contato {
  color: #fff;
  background: #249b8f;
  text-align: center;
  margin-top: 6px;
  padding: 8px 4px;
}

section.footer{
  position: relative;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 500px) {
  nav.menu-desktop {
    display: none;
  }
  nav.menu-mobile {
    display: block;
  }

  .card-single {
    padding: 10px 0;
  }

  .equipe-circle-single {
    padding: 0 8px;
    width: 100%;
    margin-bottom: 30px;
  }

  .card-text {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .w33,
  .w40,
  .w60,
  .w100 {
    width: 100%;
  }

  .w50 {
    width: 100%;
    margin-bottom: 20px;
  }

  .icon-single {
    width: 100%;
  }

  .equipe-box {
    width: 100%;
  }

  .sobre-box {
    width: 100%;
    margin-top: 100px;
  }

  .equipe-box .saiba input[type="submit"] {
    width: 100%;
  }

  .card-single {
    width: 100%;
  }

  footer.footer1 {
    text-align: center;
  }

  .sobre__single__noticia img {
    width: 100%;
  }

  .sobre__single__noticia p {
    margin-top: 8px;
    width: 100%;
    padding: 0;
  }

  .tags-form {
    padding-left: 0px;
  }
}
